{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}MAISI / მაისი{% endblock %}</title>
		<link rel="shortcut icon" href='{% static "img/LOGO.svg" %}' type="image/x-icon" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
			rel="stylesheet"
		/>

		<link href="{% static '/styles.css' %}" rel="stylesheet" />
	</head>
	<body>
		<!-- Main Container / Background Container -->
		<div class="header-wrapper"></div>
		<div class="container">
			<header class="header">
				<div class="normal-navigation">
					<a class="navbar-brand"  href="{% url 'index' %}">
						<img alt="logo" src='{% static "img/LOGO.svg" %}' class="logo" />
					</a>
					<nav class="user-nav">
						<div class="user-nav__icon-box">
							<a class="nav-link"  href="{% url 'index' %}"><span>ამენითები</span></a>
						</div>
						<div class="user-nav__icon-box">
							<a class="nav-link" href="{% url 'tavisMovla' %}"><span>თავის მოვლა</span></a>
						</div>
						<div class="user-nav__icon-box">
							<a class="nav-link"  href="{% url 'saponi' %}"><span>საპონი</span></a>
						</div>
						<div class="user-nav__icon-box">
							<a class="nav-link"  href="{% url 'chusti' %}"><span>ჩუსტი</span></a>
						</div>
						<div class="user-nav__icon-box">
							<a class="nav-link"  href="{% url 'dispenserebi' %}"><span>დისპენსერი</span></a>
						</div>
						<div class="user-nav__icon-box">
							<a class="nav-link"  href="{% url 'partniorebi' %}"><span>პარტნიორები</span></a>
						</div>
					</nav>
					</nav>
			</div>
			<!-- * Expendable navigation -->
			<div class="navigation">
				<input type="checkbox" id="navi-toggle" class="navigation__checkbox">
				<label for="navi-toggle" class="navigation__button">
					<span class="navigation__icon">&nbsp;</span>
				</label>
				<div class="navigation__background">&nbsp;</div>
				<nav class="navigation__nav">
					<ul class="navigation__list">
						<li class="navigation__item"><a class="navigation__link"  href="{% url 'index' %}"><span>ამენითები</span></a></li>
						<li class="navigation__item"><a class="navigation__link"   href="{% url 'tavisMovla' %}"><span>თავის მოვლა</span></a></li>
						<li class="navigation__item"><a class="navigation__link"  href="{% url 'saponi' %}"><span>საპონი</span></a></li>
						<li class="navigation__item"><a class="navigation__link"   href="{% url 'chusti' %}"><span>ჩუსტი</span></a></li>
						<li class="navigation__item"><a class="navigation__link"  href="{% url 'dispenserebi' %}"><span>დისპენსერი</span></a></li>
						<li class="navigation__item"><a class="navigation__link"  href="{% url 'partniorebi' %}"><span>პარტნიორები</span></a></li>
					</ul>
				</nav>
			</div>
			</header>
			<div class="content">
				<div class="detail">{% block body %} {% endblock %}</div>
			</div>
		</div>
	</body>
</html>
